*.classpath
*.project
*.iml
workspace.xml
/.settings/
/report/
/Reports/
/reportvnext/
/target/
/test-output/
/out/
/reprortR360/
/allure-results/
/.idea/
/TestAutomationProject/.idea/*
/TestAutomationProject/.idea/workspace.xml
/TestAutomationProject/data/Repair360AndroidTeam.apk
